{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password Reset' %} | {{ block.super }}{% endblock %}

{% block section_title %}
    {% trans "Lost your password? No problem!" %}
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        {% include "form_snippet.html" %}
    {% else %}
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}
