{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Scan Details' %} | {{ block.super }}{% endblock %}

{% block content %}
    <span class="name"><a href={% url core_scan_view scan.id %}>{{ scan.name }}</a></span>
    <div class="actions">
        <span class="ann"><a href={% url core_scan_run scan.id %}>{% trans "Run" %}</a></span>
        &nbsp;&bull;&nbsp;
        <span class="ann"><a href={% url core_scan_edit scan.id %}>{% trans "Edit" %}</a></span>
        &nbsp;&bull;&nbsp;
        <span class="ann"><a href={% url core_scan_copy scan.id %}>{% trans "Duplicate" %}</a></span>
        <span class="ann del-ref"><a href={% url core_scan_delete scan.id %}>{% trans "Delete" %}</a></span>
    </div>
    <h4>{% trans "Command:" %}</h4>
    <div class="screen"><code class="command"># nmap {{ scan.command }} {{ scan.targets }} </code></div>
    {% if result_list.object_list.count > 0 %}
        <h4>{% trans "Results:" %}</h4>
        <ol>
            {% for result in result_list.object_list  %}
                <li>
                    <span class="result{% if not result.finished_ok %} attn{% endif %}"><a href={% url core_result_view result.id %}>{{ result.finished_on|timesince }}</a> {% trans "ago" %}</span>
                        <div class="actions ann del-ref"><a href={% url core_result_delete result.id %}>{% trans "Delete" %}</a></div>
                </li>
            {% endfor %}
        </ol>
        <div class="pagination">
            <span class="step-links">
                {% if result_list.has_previous %}
                    <a href="?page={{ result_list.previous_page_number }}">&laquo;&nbsp;{% trans "Previous" %}</a>
                {% endif %}
                <span class="current">
                    {% trans "Page" %} {{ result_list.number }} / {{ result_list.paginator.num_pages }}
                </span>
                {% if result_list.has_next %}
                    <a href="?page={{ result_list.next_page_number }}">{% trans "Next" %}&nbsp;&raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <h4>{% trans "No results available." %}</h4>
    {% endif %}
{% endblock content %}