{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Dashboard' %} | {{ block.super }}{% endblock %}

{% block section_title %}
    {% trans "Welcome back" %}
{% endblock %}

{% block content %}
    {% if result_list.object_list.count > 0 %}
        <p>{% trans "Here are the latest scan results:" %}</p>
        <ol>
            {% for result in result_list.object_list %}
                <li>
                    <span class="result{% if result.finished_on and not result.finished_ok %} attn{% endif %}"><a class="name" href={% url core_scan_view result.for_scan.id %}>{{ result.for_scan.name }}</a>{% if result.finished_on %}{% trans "finished about" %} <a class="res" href={% url core_result_view result.id %}>{{ result.finished_on|timesince }}</a>{% else %}{% trans "was started" %} {{ result.started_on|timesince }}{% endif %} {% trans "ago" %}</span>
                    <div class="actions">
                        <span class="ann"><a href={% url core_scan_run result.for_scan.id %}>{% trans "Rerun" %}</a></span>
                        <span class="ann del-ref"><a href={% url core_result_delete result.id %}>{% trans "Delete Result" %}</a></span>
                    </div>
                </li>
            {% endfor %}
        </ol>
        <div class="pagination">
            <span class="step-links">
                {% if result_list.has_previous %}
                    <a href="?page={{ result_list.previous_page_number }}">&laquo;&nbsp;{% trans "Previous" %}</a>
                {% endif %}
                <span class="current">
                    {% trans "Page" %} {{ result_list.number }} / {{ result_list.paginator.num_pages }}
                </span>
                {% if result_list.has_next %}
                    <a href="?page={{ result_list.next_page_number }}">{% trans "Next" %}&nbsp;&raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>{% trans "There hasn't been any recent activity." %}</p>
        {% url core_scan_new as new_scan_url %}
        {% url core_scan_list as scan_list %}
        {% if new_scan_url and scan_list %}
            {% trans "Why not" %} <a href={{ new_scan_url }}>{% trans "add a new scan" %}</a>{% trans ", or run one from" %} <a href={{ scan_list }}>{% trans "your existing list" %}</a>{% trans "?" %}
        {% endif %}
    {% endif %}
{% endblock %}